.textDiv{
  margin-bottom:300px;
  display:flex;
  align-items: center;
  flex-direction: column;
  width:100%
}


.textfield{

    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #777777;
    box-sizing: border-box; 
    font-size: larger;

}

.textfieldCaption{

  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #777777;
  box-sizing: border-box; 
  font-size: larger;

}

.signinButton {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .signinButton:hover {
    background-color: #374151;
  }
  
  .signinButton:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .signinButton {
      padding: .75rem 1.5rem;
    }
  }
  
hr{
  border-radius: 50px;
}

.nametag{
  color:white;
  margin-bottom:200px;
}